:root {
  --red: #FE5F55;
  --orange: #F0B67F;
  --beige: #D6D1B1;
  --green: #C7EFCF;
  --light: #EEF5DB;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--light);
}

input {
  margin: 10px;
}