:root {
  --red: #FE5F55;
  --orange: #F0B67F;
  --beige: #D6D1B1;
  --green: #C7EFCF;
  --light: #EEF5DB;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--light);
}

.header {
  position: fixed;
  top: 10px;
  left: 210px;
  text-transform: uppercase;
  color: var(--red);
}

.header-img {
  width: 200px;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  left: 10px;
}

.description {
  width: 70%;
  margin: 80px auto 20px auto;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

form {
  background-color: var(--orange);
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
}

input {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
  align-items: space-between;
}

.check-line {
  display: flex;
  justify-content: space-between;
}

.cooked-food {
  margin: 20px;
  margin-top: 80px;
  border: 10px solid darkgreen;
}

.recipe {
  text-align: left;
  width: 600px;
  background-color: #F0B67F;
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}

.recipe p:first-child {
  background-color: var(--red);
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 40px;
  text-align: center;
}

button {
  margin: 10px;
}

